body {
  font-family: "Inter", sans-serif;
  margin: 0px;
  min-width: 375px;
  max-width: 1440px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: hsl(0, 0%, 8%);
  color: white;
  font-size: 14px;
}

.container {
  max-width: 360%;
  margin: auto;
}

.card {
  background-color: hsl(0, 0%, 12%);
  padding: 35px;
  border-radius: 10px;
}

.text img {
  width: 50px;
  border-radius: 25px;
}

.text {
  text-align: center;
}

.london {
  color: hsl(75, 94%, 57%);
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

a {
  height: 35px;
  border-radius: 4px;
  border: none;
  background-color: hsl(0, 0%, 20%);
  color: white;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding-top: 17px;
}

a:active {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
  cursor: pointer;
}
